# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore output and data files
outputs/
data/

# Ignore system files
.DS_Store
Thumbs.db


stereo-audio-ai
stereo-audio-ai.pub
